@model  OpsManagement.Models.User

<div class="row">
    <span>Login:</span>
</div>



@using (Html.BeginForm("Login", "Home"))
{

    <div class="row">
        <div class="col-12">

            @Html.LabelFor(m => m.UserName, new { @class = "input-group-text" })
        </div>
        <div class="col-12">
            @Html.EditorFor(m => m.UserName, new { @class = "form-control", placeholder = "Username", ariaLabel = "Username" })
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.LabelFor(m => m.Password, new { @class = "input-group-text" })
        </div>
        <div class="col">
            @Html.EditorFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="row">
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>

}
